<li class="z-10 flex items-start gap-2">
  @if (isGroupChat() && sender() !== 'You') {
  <app-user-avatar
    [title]="sender()"
    [avatarUrl]="avatarUrl()"
    [userColor]="chatMemberColor()"
  ></app-user-avatar>
  }

  <div
    class="py-1 rounded-xl border w-fit flex flex-col max-w-xs md:max-w-md wrap-break-word"
    [ngClass]="
      sender() === 'You'
        ? 'ml-auto text-right pl-4 pr-2 bg-indigo-800 border-indigo-700'
        : 'mr-auto text-left pr-4 pl-2 border-zinc-700 bg-zinc-800'
    "
  >
    @if (sender() !== "You" && isGroupChat()) {
    <header class="font-semibold" [style.color]="chatMemberColor()">
      {{ sender() }}
    </header>
    }
    <p class="">{{ content() }}</p>
    <p class="mt-1 text-xs text-zinc-500">{{ timestamp() | date : 'shortTime' }}</p>
  </div>
</li>
